
.fieldEditLink,.templateEditLink{
	/*float: right;*/
	margin-top: 1em;
}
.fieldEditLink a,.templateEditLink a{
	float: right;
	font-size: 0.9em;
	line-height: 1em;
	position: relative;
}
.fieldEditLink a:hover,.templateEditLink a:hover{
	background: none;
	color: inherit;
}

.fieldEditLink span,.templateEditLink span{
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	-o-opacity: 0.5;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	float: right;
	position: relative;
	height: 1.3em;
	top: -3px;
}

.hfl_settings{
	display: none;
	width: 100%;
	background: #333;
	color: #ddd;
	padding: 1em 1em;
	word-wrap: break-word;
	font-size: 0.9em;
	line-height: 1.5em;
	border-radius: 5px;
	margin: 0 0 1em;
	box-sizing: border-box;
}
.hfl_settings span { color: #aaa;}

